/*
  base.css
  此文件包含网站的通用样式，如自定义容器、导航链接悬停效果、代码块、表格和链接美化。
  它确保了网站在不同元素上保持一致的视觉风格。
*/

/* 自定义容器样式 */
.vp-doc .custom-container-title {
  font-weight: 600;
}

/* 导航链接悬停效果 */
.VPNavBarMenuLink:hover {
  color: var(--vp-c-link-hover) !important;
}

/* 代码块美化 */
div[class*="language-"] {
  border-radius: 8px;
  overflow: hidden;
}

/* 表格美化 */
.vp-doc table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

.vp-doc th {
  font-weight: 600;
  text-align: left;
}

.vp-doc th, .vp-doc td {
  padding: 0.75rem 1rem;
}

/* 链接美化 */
.vp-doc a {
  color: var(--vp-c-link) !important;
  /* 加个阴影 */
  transition: color 0.3s ease;
}

.vp-doc a:hover {
  color: var(--vp-c-link-hover) !important;
  text-decoration: underline;
}

/* 编辑链接悬停效果 */
.edit-link-button:hover {
  color: var(--vp-c-link) !important;
}

/* 特殊容器美化 */
.custom-container.tip {
  border-left: 4px solid #42b883;
}

.custom-container.warning {
  border-left: 4px solid #e7c000;
}

.custom-container.danger {
  border-left: 4px solid #e13238;
}